.top{
    background-color: black;
    color: blue;
    text-align: center;
    
}
*{
    background-color: black;
}
.one:hover{
    color: gray; 
    cursor: pointer;
}


.middle{
    border-color: black;
    border-width: 1px;
    border-style:solid;
    display:flexbox;
    padding: 60px ;
    background-color: white;
    justify-items: center;
    color: aliceblue;
}
.bottom{
    color: white;
    text-align:center;
    
}
.last{
    text-align:center;
    color: white;
    padding:0px 0px 20px ;
}
.new{
    text-align: center;
}
.big{
    display:block;
    text-align: center;
    background-color: yellow;
    margin-top: 0px;
   
}